#main {
  margin: 30px 8px;
  padding: 15px;
  border-radius: 5px;
  background: gainsboro;
}
h1 {
  font-size: 4rem;
  margin-bottom: 0;
  display: block;
  text-align: center;
  font-weight: bold;
  color: dimgray;
}
.phead {
  text-align: center;
  font-size: 1em;
  padding-bottom: 1em;
  color: dimgray;
}
#img-div {
  background: white;
  padding: 10px;
  margin: 0;
  text-align: center;
  font-size: 2rem;
  color: dimgray;
}
#image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  padding-top: 6em;
}
.info-head {
  font-size: 1.8em;
  font-family: monospace;
  color: dimgrey;
}
.row {
  display: block;
  flex-wrap: wrap;
  padding: 0 4px;
}
#tribute-info {
  height: 40%;
  width: 40%;
  top: 20px;
  position: relative;
  left: 30%;
  padding: 1em 1em;
  color: dimgray;
  font-size: 1em;
}
.info-head {
  text-align: center;
}
#tribute-link {
  text-decoration: none;
}
h2 {
  text-align: center;
  color: dimgray;
}
