#main {
  background: gainsboro;
  height: 100%;
}
#title {
  text-align: center;
  font-size: 3em;
  padding-top: 1em;
}
.phead {
  text-align: center;
  font-size: 2em;
  padding-bottom: 1em;
}
#img-div {
  border: none;
  position: relative;
  background-color: whitesmoke;
  top: 10px;
  left: 100px;
  width: 80%;
  height: 30%;
  text-align: center;
}
#image {
  padding-top: 6em;
}
#tribute-info {
  height: 40%;
  width: 40%;
  top: 20px;
  position: relative;
  left: 30%;
  padding: 1em 1em;
}
.info-head {
  text-align: center;
}
h2 {
  text-align: center;
}
